[user]
	email = adam.paulukanis@gmail.com
	name = adam17
	username = Adam Paulukanis
[color]
	ui = true
[core]
	autocrlf = input
[push]
	default = simple
[pull]
	rebase = true
[color "status"]
	branch = green
[commit]
  template = ~/.gitmessage
[alias]
	ll = log --oneline --all --decorate --graph
